$color-primary: #5865F2;
$color-white: #FFF;

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: #23272A;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);


  &__header {
    padding: 24px;
    border-radius: 5px 5px 0 0;
    background: $color-primary;
    color: rgba($color-white,0.75);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;
    box-sizing: border-box;

    &--main {
      display: block;
      font-size: 2rem;
    }

    &--sub {
      display: block;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }

  &__body {
    padding: 1rem 3rem;
    background: #2C2F33;
    border-radius: 0 0 5px 5px;
  }

  &__title {
    text-align: center;
    color: $color-white;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 2rem 0;
  }
}

.table {
  color: $color-white;

  td {
    padding: .5rem;
  }
}

.block__footer {
  margin: 1rem 0;
  font-size: 12px;
  color: rgba($color-white,0.4);

  &--link {
    color: $color-white;
    text-decoration: none;
  }
}

.login_button {
  text-decoration: none;
  display: block;
  line-height: 35px;
  padding: 0 21px;
  background: $color-primary;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: $color-white;
  font-weight: 700;
  font-size: 16px;

  &:hover {
    background: $color-primary;
  }
}

.success {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;

  &__header {
    color: rgba($color-white,0.4);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
  }

  &__data {
    color: $color-white;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
  }
}
